body {
    padding: 15px 0 0 0;
    margin: 0;

}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

.container {
    background-color: #F9F7FE;
    max-width: 600px;
    border-radius: 15px;
    padding: 30px;
}

form {
    border-radius: 15px;
    background-color: #F9F7FE;
    text-align: center;
    padding-bottom: 10px;
}

.submit-button{
    background-color: #885DF1;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
    transition: all 100ms ease-in-out;
}

.submit-button:hover {
    opacity: 80%;
}

.search-form {
    padding: 10px;
    width: 60%;
}

.temperature {
    font-size: 25px;
    font-weight: bold;
}

/* .weatherData {
    display: flex;
    justify-content:space-around;

} */

.weather-data-detail {
    padding: 0;
}
.weather-data-temperature {
    text-align: right;
    padding: 0;
}



.forecast {
    display:inline-flex;
    text-align: center;   
    padding-top: 10px;
}

.forecast-day {
    opacity: 70%;
}

.maxTemp {
    font-weight: bold;
    color: #F65282;
    padding: 5px;
}

.minTemp {
    color: #F65282;
    opacity: 70%;
}

footer {
    padding-top: 10px; 
    text-align: center;
    font-size: 14px;
}
